.priv {
  grid-area: h;
  background: rgba(1, 1, 1, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.priv h1 {
  display: block;
  flex: 1 1 30%;
  text-align: center
}

.loginBlock a {
  color: black;
}